h1{
    color: cadetblue;
}

[type="datepicker"]{
    width:100px;
    height:30px;
    line-height:30px;
    border: 1px solid #F33;
    border-radius:5px;
    text-align:center;
    background-color:#ddd;
    display:inline-block;
  }